:root {
    --border-color: #023344;
    --bg-light-primary: #94c1ff;
    --bg-light-secondary: #d1d0d0;
    --bg-light-success: #7ce294;
    --bg-light-danger: #f6abb2;
    --bg-light-warning: #eaeb86;
    --bg-light-info: #b0f4ff;
    --light-primary: #049ca7;
    --dark-primary: #023344;
}

html,
body {
    height: 100%;
    background-color: rgb(209, 209, 209);
    background-color: var(--light-primary);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
}

.status-bar {
    height: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.status-bar>div {
    margin-left: 10px;
}

.row {
    width: 100%;
}

.main-menu {
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.menu-btn {
    display: block;
    margin: 10px 0 10px 0;
    width: 80%;
}

/* Calender app */

.timetable-container {
    position: relative;
}


.btn-group {
    position: fixed;
    top: 18px;
    left: 24%;
    transform: translateX(-50%);
    z-index: 100;
    width: 200px; 
    height: 60px; 
}

/* each button */
.btn-group button {
    width: 100px; 
    margin-right: 2px; 
}

/* for the hover effect */
.btn-group button:hover {
    transform: translateY(-4px); 
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.time-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

input[type="time"] {
    width: 100%;
    padding-top: 5rem;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: 3px solid black;
}

.table tr> :first-child {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.menu-btn {
    background-color: #023344;
    transition: transform 0.3s ease-in-out;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border: #011c26 1.5px solid;
    color: #fff;
    background: #022d3c;
    padding: 0.8rem 3rem;
}

.menu-btn:hover {
    border: #022d3c 1.5px solid;
    background: #02a1b9;
    /* Move up on hover */
    transform: translateY(-0.4rem);
}